/* Apply background only to the About page */
.about-page {
  background: url("../Images/image2.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 91vh;
}

/* Container to align text to the right in a column */
.content-container {
  width: 35%;
  margin-left: auto;
  margin-right: 8%;
  color: white;
  text-align: center;
  padding: 1%;
}

/* Styling for headings */
.about-text h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

/* Styling for paragraphs */
.about-text p {
  font-size: 0.9em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.6));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 80%;
}
